{% extends "report/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m4 l3">
    <!--            <i class="material-icons md-48">account_box</i> -->
            <div class="media">
            <img class="rounded-circle" src="{{ profile_pic }}" alt="Profile picture" id="profile_pic">
            </div>
        </div>
    
        <div class="col s12 m4 l3" id="profile_info">
            <h6>Name: {{ user.profile.first_name }} {{ user.profile.last_name }}</h6>
            <h6>Job Title: Programmer</h6>
            <h6>Email: {{ user.email }}</h6>
            <h6>Phone Number: {{ user.profile.home_phone }}</h6>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ p_form.as_p }}
        </fieldset>>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>



{% endblock %}