body {
    margin: 0;
    padding: 0;
}

i {
    background-color: darkblue;
    padding: 5px;
}

.material-icons.md-light { color: rgba(255,255,255,1); }

.brand-alt {
    padding-left: 10px;
}

#content_table {
    
}

#logged {
    width: 500px;
}

#logged h4 {
    padding: 10px 0px 0px 10px;
    margin-top: 20px;
}

#profile_pic{
    width: 400px;
    height: auto;
    float: left;
}

#profile_info{
    background-color: rgb(230, 230, 230, .9);
    width: 400px;
    float: right;
}

@media screen and (min-width: 600px) {
    #logged {
        width: 500px;
        margin: auto;
    }
}

@media screen and (min-width: 798px) {
    #logged {
        width: 790px;
        margin: auto;
    }
}